<?xml version="1.0" encoding="UTF-8"?>

<!-- Starter for 10 -->

<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
      
    <root level="INFO">
      <AppenderRef ref="Console"/>
    </root>
    
    <logger name="io.netty.*" level="WARN" />
    
  </Loggers>
</Configuration>
